.container {
    width: 100vw;
    height: 100vh;
}

.header {
    height: 64px;
    width: 100vw;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 40px;
    color: #373745;
}

.nav_list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
}

.nav_list__item {
    padding: 4px 8px;
}

.nav_list__item:hover {
    background: #F7F7F7;
    border-radius: 200px;
    transition: 200ms;
}

.nav_list__item:active {
    color: white;
    background: rgba(96, 194, 170, 1);
    border-radius: 200px;
}

.login {
    width: 32px;
    height: 32px;
    border: none;
    background-color: white;
}