<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="container-login">
        <header class="header">
            <nav class="navbar">
                <a href="index" class="logo">
                    <img src="/svg/Exclude.svg" alt="Логотип сайта XO">
                </a>
                <div class="nav_list">
                    <ui class="nav_list__item"><a href="index">Игровое поле</a></ui>
                    <ui class="nav_list__item"><a href="rating">Рейтинг</a></ui>
                    <ui class="nav_list__item">Активные игроки</ui>
                    <ui class="nav_list__item">История игр</ui>
                    <ui class="nav_list__item">Список игроков</ui>
                </div>
                <a class="login" href="authorization">
                    <img src="/svg/icon-button.svg" alt="Вход в аккаунт">
                </a>
            </nav>
        </header>
        <main class="aut-login">
            <form class="login-window" action="/authorization" method="POST">
                <img src="/svg/login-dog.svg" alt="Пёс" class="login-img">
                <p class="login-text">Войдите в игру</p>
                <input type="email" name="username" id="username" class="login-value" placeholder="Логин" onCopy="return false">
                <input type="password" name="password" id="password" class="password-value" placeholder="Пароль" onCopy="return false">
                <button type="submit" onclick="SubmitForm()" class="send-login">Войти</button>
            </form>
        </main>
    </div>
    <script src="/scripts/loginSubmit.js"></script>
</body>
</html>