<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>XO site</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="navbar">
                <a href="index" class="logo">
                    <img src="svg/Exclude.svg" alt="Логотип сайта XO">
                </a>
                <div class="nav_list">
                    <ui class="nav_list__item"><a href="index">Игровое поле</a></ui>
                    <ui class="nav_list__item"><a href="rating">Рейтинг</a></ui>
                    <ui class="nav_list__item">Активные игроки</ui>
                    <ui class="nav_list__item">История игр</ui>
                    <ui class="nav_list__item">Список игроков</ui>
                </div>
                <a class="login" href="authorization">
                    <img src="svg/icon-button.svg" alt="Вход в аккаунт">
                </a>
            </nav>
        </header>
        <div class="main_container">
            <aside class="aside">
                <div class="players">
                    <p class="players_name">Игроки</p>
                    <div class="player">
                        <img src="svg/zero.svg" alt="O" class="figure">
                        <div class="player_property">
                            <p class="player_name">Пупкин Владлен Игоревич</p>
                            <p class="win_percent">63% побед</p>
                        </div>
                    </div>
                    <div class="player">
                        <img src="svg/Union.svg" alt="X" class="figure">
                        <div class="player_property">
                            <p class="player_name">Плюшкина Екатерина Викторовна</p>
                            <p class="win_percent">23% побед</p>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="main">
                <div class="score">
                    <p class="score_now">05:12</p>
                </div>
                <div class="field">
                    <div class="field-item" id="0 0"></div>
                    <div class="field-item" id="0 1"></div>
                    <div class="field-item" id="0 2"></div>
                    <div class="field-item" id="1 0"></div>
                    <div class="field-item" id="1 1"></div>
                    <div class="field-item" id="1 2"></div>
                    <div class="field-item" id="2 0"></div>
                    <div class="field-item" id="2 1"></div>
                    <div class="field-item" id="2 2"></div>
                </div>
                <div class="move_now">
                    <p class="move">Ходит</p>
                    <img src="svg/zero.svg" alt="Сейчас ходит" class="figure" id="xo_player_tabel">
                    <p class="player_move" id="current_player">Владлен Пупкин</p>
                </div>
            </main>
            <aside class="aside-2">
                <div class="chat">
                    <div class="message_1">
                        <div class="message_player">
                            <p class="name color_green">Плюшкина Екатерина</p>
                            <p class="time">13:40</p>
                        </div>
                        <p class="message_text">Ну что, готовься к поражению!!1</p>
                    </div>
                    <div class="message_2">
                        <div class="message_player">
                            <p class="name color_pink">Пупкин Владлен</p>
                            <p class="time">13:41</p>
                        </div>
                        <p class="message_text">Надо было играть за крестики. Розовый — мой не самый счастливый цвет</p>
                    </div>
                    <div class="message_2">
                        <div class="message_player">
                            <p class="name color_pink">Пупкин Владлен</p>
                            <p class="time">13:45</p>
                        </div>
                        <p class="message_text">Я туплю…</p>
                    </div>
                    <div class="message_1">
                        <div class="message_player">
                            <p class="name color_green">Плюшкина Екатерина</p>
                            <p class="time">13:47</p>
                        </div>
                        <p class="message_text">Отойду пока кофе попить, напиши в тг как сходишь</p>
                    </div>
                    <div class="send_message">
                        <input type="text" class="input_message" placeholder="Сообщение…">
                        <button class="btn_send_message"><img src="/svg/send.svg" alt="Отправить письмо"></button>
                    </div>
                </div>
            </aside>
        </div>
        <footer class="footer"></footer>
        <script src="scripts/walkXO.js"></script>
    </div>
</body>
</html>