<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Рейтинг</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="index" class="logo">
                <img src="../svg/Exclude.svg" alt="Логотип сайта XO">
            </a>
            <div class="nav_list">
                <ui class="nav_list__item"><a href="index">Игровое поле</a></ui>
                <ui class="nav_list__item"><a href="rating">Рейтинг</a></ui>
                <ui class="nav_list__item">Активные игроки</ui>
                <ui class="nav_list__item">История игр</ui>
                <ui class="nav_list__item">Список игроков</ui>
            </div>
            <a class="login" href="authorization">
                <img src="/svg/icon-button.svg" alt="Вход в аккаунт">
            </a>
        </nav>
    </header>
    <main class="page-rating">
        <table class="page-rating__tabel">
            <thead class="thead-rating">
                <tr>
                    <td><h1 class="name-rating-tabel">Рейтинг игроков</h1></td>
                </tr>
                <tr class="first-dis-tabel">
                    <th><p class="FIO-tabel marg-8">ФИО</p></th>
                    <th><p class="all-game-tabel">Всего игр</p></th>
                    <th><p class="all-wins-tabel">Победы</p></th>
                    <th><p class="all-losses-tabel">Проигрыши</p></th>
                    <th><p class="percent-wins">Процент побед</p></th>
                </tr>
            </thead>
            <tbody class="tbody-rating">
                <%const players = [
                { name: 'John', games: 10, wins: 6, losses: 4, percentage: 0 },
                { name: 'Jane', games: 12, wins: 8, losses: 4, percentage: 0 },
                { name: 'Mike', games: 15, wins: 9, losses: 6, percentage: 0 },
                { name: 'Sara', games: 8, wins: 3, losses: 5, percentage: 0 }
              ]%>

                <% players.forEach(function(user) { %>
                <tr class="first-dis-tabel"> 
                    <td><p class="FIO-tabel marg-8"><%= user.name %></p></td>
                    <td><p class="all-game-tabel"><%= user.games %></p></td>
                    <td><p class="color_green-table all-wins-tabel"><%= user.wins %></p></td>
                    <td><p class="color_red-table all-losses-tabel"><%= user.losses %></p></td>
                    <td><p class="percent-wins"><%= user.percentage %></p></td>
                </tr>
                <% }); %>
            </tbody>        
        </tabel>
    </main>
</body>
</html>