@import url('normalize.css');
@import url('main_page/header.css');
@import url('main_page/main.css');
@import url('authorization/main-login.css');
@import url('rating/rating.css');

:root {
    --green_color: rgba(96, 194, 170, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

button {
    border: none;
}